In [66]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from collections import Counter

from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve, train_test_split
from sklearn.metrics import brier_score_loss

import xgboost as xgb
from xgboost import XGBClassifier

pd.set_option('display.max_columns', None)

In [67]:
#read_file = pd.read_excel(r'C:/Users/FLUXNATURE/Desktop/ML stuff/Kp2021_finals.xlsx', engine='openpyxl')

In [68]:
#read_file.to_csv(r'C:/Users/FLUXNATURE/Desktop/ML stuff/KP2021_final.csv', index= None)

In [69]:
#read_file2 = pd.read_excel(r'C:/Users/FLUXNATURE/Desktop/ML stuff/Kp2020_finals.xlsx', engine='openpyxl')

In [70]:
#read_file2.to_csv(r'C:/Users/FLUXNATURE/Desktop/ML stuff/KP2020_final.csv', index= None)

In [71]:
kp_df=[]
years_list = [2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002]
for year in years_list:
    temp_kp_df = pd.read_csv("C:/Users/FLUXNATURE/Desktop/New Kaggle world/Ken Pom/KP" + str(year) + "_final.csv")
    temp_kp_df['Season'] = year
    year_last = year   
    if year==2021:
        kp_df = temp_kp_df
    else:
        kp_df = kp_df.append(temp_kp_df)

In [72]:
kp_df.head()

       team conf  adjem   adjo  adjd   luck  Season
0   Gonzaga  WCC  36.62  126.1  89.5  0.018    2021
1  Michigan  B10  30.79  119.4  88.6  0.026    2021
2  Illinois  B10  30.61  119.0  88.3  0.030    2021
3    Baylor  B12  29.50  123.3  93.8  0.050    2021
4      Iowa  B10  28.90  123.5  94.6 -0.028    2021

In [73]:
kp_df.tail(3)

                 team conf  adjem  adjo   adjd   luck  Season
324  Mount St. Mary's  NEC -29.36  85.1  114.5  0.019    2002
325      Morris Brown  ind -29.95  85.1  115.1  0.044    2002
326      Savannah St.  ind -31.15  78.1  109.2 -0.021    2002

In [74]:
kp_df['Season'].value_counts(dropna=False)

2021    357
2020    353
2019    353
2017    351
2018    351
2014    351
2015    351
2016    351
2010    347
2013    347
2011    345
2012    345
2009    344
2008    341
2007    336
2006    334
2005    330
2003    327
2002    327
2004    326
Name: Season, dtype: int64

In [75]:
kp_df['team'] = kp_df['team'].str.lower()

Match Team IDs to data

In [76]:
teams_df = pd.read_csv('C:/Users/FLUXNATURE/Desktop/New Kaggle world/NCAAM_stage_two_two/MDataFiles_Stage2/MTeamSpellings.csv', sep='\,', engine='python')

In [77]:
teams_df.tail()

      TeamNameSpelling  TeamID
1142     youngstown st    1464
1143    youngstown st.    1464
1144  youngstown state    1464
1145     youngstown-st    1464
1146  youngstown-state    1464

In [78]:
kp_df = pd.merge(kp_df, teams_df, left_on=['team'], right_on = ['TeamNameSpelling'], how='left')
kp_df = kp_df.drop(['TeamNameSpelling'], axis=1)

In [79]:
kp_df['Season'].value_counts(dropna=False)

2021    357
2020    353
2019    353
2017    351
2018    351
2014    351
2015    351
2016    351
2010    347
2013    347
2011    345
2012    345
2009    344
2008    341
2007    336
2006    334
2005    330
2003    327
2002    327
2004    326
Name: Season, dtype: int64

In [80]:
kp_df.head()

       team conf  adjem   adjo  adjd   luck  Season  TeamID
0   gonzaga  WCC  36.62  126.1  89.5  0.018    2021  1211.0
1  michigan  B10  30.79  119.4  88.6  0.026    2021  1276.0
2  illinois  B10  30.61  119.0  88.3  0.030    2021  1228.0
3    baylor  B12  29.50  123.3  93.8  0.050    2021  1124.0
4      iowa  B10  28.90  123.5  94.6 -0.028    2021  1234.0

In [81]:
kp_df.tail()

                     team  conf  adjem  adjo   adjd   luck  Season  TeamID
6862         nicholls st.  Slnd -26.22  87.1  113.3 -0.070    2002  1311.0
6863  arkansas pine bluff  SWAC -28.85  82.2  111.1 -0.014    2002     NaN
6864     mount st. mary's   NEC -29.36  85.1  114.5  0.019    2002  1291.0
6865         morris brown   ind -29.95  85.1  115.1  0.044    2002  1289.0
6866         savannah st.   ind -31.15  78.1  109.2 -0.021    2002  1366.0

Write the data to a csv

In [82]:
kp_df.to_csv('kp_all.csv', index=False)